.team-section {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: var(--padding-page);
    padding-top: 80px;
    padding-bottom: 80px;
    flex-flow: column nowrap;
}
.team-section_header {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    color: var(--color-secondary);
    position: relative;
}
.team-section_header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    background: url(/team/Vector5.svg) no-repeat;
    background-size: contain;
    background-position: center;
    bottom: -30px;
    right: 0;
}
.team-section > p {
    width: 70%;
    margin-top: 70px;
    color: var(--color-secondary);
    text-align: center;
    font-family: Vazir;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
}
.team-section_founder,.team-section_website,  .team-section_saloon, .team-section_kargah, .team-section_scene, .team-section_reception {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 40px;
}
.team-section_founder-cards, .team-section_website-cards, .team-section_saloon-cards, .team-section_kargah-cards, .team-section_scene-cards,.team-section_reception-cards {
    width: 100%;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center ;
}
.team-section_card-container_header {
    font-family: Vazir;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    color: var(--color-secondary);
}
@media screen and (max-width: 600px) {
    .team-section > p {
        width: 100%;
    }
}