@media screen and (max-width: 1000px) {
    .eventmore   {
        text-align: center;
        background-color: rgb(190, 186, 186); 
    }
    .eventmore .eventw{
        box-shadow: #ff3700 0 0 20px;
        padding-top: 100px;
        margin: 0 auto;
        max-width: 100%;
        background-color: rgb(255, 255, 255);
    }
    .eventmore .eventw img {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px 0px;
        border-radius: 10px;
        max-width: 90%;
    }
    .eventmore .eventw h1{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px 0px;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 10px !important;
    }
    .eventmore .moredata {
        margin: 10px auto;
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px 0px;
    }
    .eventmore .moredata h2 {
        padding: 10px;
        text-align: right;
    }
    .eventmore .moredata p{
        font-family: Vazirmatn, sans-serif !important;
    }
    .eventmore .moredata .datam {
        padding: 5px;
    }
}
@media screen and (max-width: 950px){
    .shirazlinux .right1 > h1 {
        /*font-size: 27px;*/
        color: #f1592c;
        text-shadow: 1px -1px 3px black;
    }
    .event .postevent .event27 a{
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none !important;
        background-color: rgb(0, 9, 248);
        border-radius: 10px;
        padding: 3% 25%;
}
    .event .postevent .event27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 29% !important;
        text-align: center;
        padding-bottom: 50px;
        box-shadow: 10px 10px rgb(244, 147, 147);
    }
    .conference .postconf .conf27 a{
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none !important;
        background-color: rgb(0, 9, 248);
        border-radius: 10px;
        padding: 3% 25%;
}
    .conference .postconf .conf27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 29% !important;
        text-align: center;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 800px){
    .event .postevent {
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
    }
    .event .postevent .event27 a{
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none !important;
        background-color: rgb(0, 9, 248);
        border-radius: 10px;
        padding: 3% 25%;
}
    .event .postevent .event27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 38% !important;
        text-align: center;
        padding-bottom: 50px;
        box-shadow: 10px 10px rgb(244, 147, 147);
    }
    .conference .postconf {
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .conference .postconf .conf27 a{
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none !important;
        background-color: rgb(0, 9, 248);
        border-radius: 10px;
        padding: 3% 25%;
}
    .conference .postconf .conf27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 35% !important;
        text-align: center;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 735px){
    .shirazlinux .right1 {
        padding-top: 10px;
        float: left;
        width: 59%;
    }
    .shirazlinux>img {
        max-width: 100%;
        opacity: 100%;
        width: 40%;
    }
    .shirazlinux .right1 > p {
        padding-top: 10px;
        font-size: 19px;
        text-shadow: 2px 0px 12px green;
    }
    .shirazlinux .right1 > h1 {
        font-size: 30px;
        color: #f1592c;
        text-shadow: 1px -1px 3px black;
    }
    .event .postevent .event27 a{
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none !important;
        background-color: rgb(0, 9, 248);
        border-radius: 10px;
        padding: 3% 25%;
}
    .event .postevent .event27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 37% !important;
        text-align: center;
        padding-bottom: 50px;
        box-shadow: 10px 10px rgb(244, 147, 147);
    }
    .conference .postconf .conf27 a{
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none !important;
        background-color: rgb(0, 9, 248);
        border-radius: 10px;
        padding: 3% 25%;  
}
    .conference .postconf .conf27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 37% !important;
        text-align: center;
        padding-bottom: 50px;
    }  
    }
@media screen and (max-width: 550px){
    .event .postevent .event27 h3 {
        font-size: 18px;
    }
    .conference .postconf .conf27 h3{
        font-size: 18px;
    }
    .event .postevent .event27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 45% !important;
        text-align: center;
        padding-bottom: 50px;
        box-shadow: 10px 10px rgb(244, 147, 147);
    }
    .conference .postconf .conf27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 45% !important;
        text-align: center;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 500px){
    .navbar>img {
        display: none;
        
    }
    .event > p {
        font-size: 28px;
    }
    .event .postevent .event27 .cre  {
        color: white;
        font-size: 12px;
        text-align: center;
        text-decoration: none !important;
        background-color: rgb(0, 9, 248);
        border-radius: 10px;
        padding: 3% 25%;
    }
    .conference > p {
        font-size: 28px;
    }
    .conference .postconf .conf27 .cre  {
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none !important;
        background-color: rgb(0, 9, 248);
        border-radius: 10px;
        padding: 3% 25%;
    }
}
@media screen and (max-width: 420px){
    .event > p {
        font-size: 25px;
    }
    .event .postevent .event27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 45% !important;
        text-align: center;
        padding-bottom: 50px;
        box-shadow: 10px 10px rgb(244, 147, 147);
    }
    .conference .postconf .conf27 h3{
        font-size: 12px;
    }
    .conference > p {
        font-size: 25px;
    }
    .conference .postconf .conf27 a{
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none !important;
        background-color: rgb(0, 9, 248);
        border-radius: 10px;
        padding: 3% 25%;
    }
    .conference .postconf .conf27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 45% !important;
        text-align: center;
        padding-bottom: 50px;

    }  
}
@media screen and (max-width: 385px){
    .event .postevent .event27 {
        border-radius: 20px;
        background-color: rgb(190, 185, 185);
        margin: 0 2% 4% 2%;
        width: 46% !important;
        text-align: center;
        padding-bottom: 50px;
        box-shadow: 10px 10px rgb(244, 147, 147);
    }
}
@media screen and (max-width: 340px){
    .white {
        padding: 0 !important;
        margin: 0;
        color: white !important;
        font-size: 18px;
    }
.event .postevent .event27 {
    border-radius: 20px;
    background-color: rgb(190, 185, 185);
    margin: 0 2% 4% 2%;
    width: 60% !important;
    text-align: center;
    padding-bottom: 50px;
    box-shadow: 10px 10px rgb(244, 147, 147);
}
.conference .postconf .conf27 a{
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none !important;
    background-color: rgb(0, 9, 248);
    border-radius: 10px;
    padding: 3% 25%;

}
.conference .postconf .conf27 {
    border-radius: 20px;
    background-color: rgb(190, 185, 185);
    margin: 0 2% 4% 2%;
    width: 60% !important;
    text-align: center;
    padding-bottom: 50px;

}

}
@media screen and (max-width: 285px){
    .white {
        padding: 0 !important;
        margin: 0;
        color: white !important;
        font-size: 14px;
    }
}