@charset "UTF-8";
/* CSS code for the responsive template */
body {
    background: #d7dadc; background: -moz-linear-gradient(to bottom,  #d7dadc 0%,#edf3f3 100%); background: -webkit-linear-gradient(to bottom,  #d7dadc 0%,#edf3f3 100%); background: linear-gradient(to bottom,  #d7dadc 0%,#edf3f3 100%);
    direction: rtl;
    margin: 0;
    font-family: Vazirmatn, sans-serif !important;
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.clear {
    clear: both;
}
hr {
    padding: 0;
    margin: 0;
}
/*  */
/* start nav styles */
.navbar {
    width: 100%;
    padding: 0 !important;
    overflow: hidden;
    background-color: #333 !important;
    border-bottom: 5px solid rgb(247, 143, 7);
    height: 60px;
}
.rtl{
    text-align: right;
}
.navbar-toggler-icon {
    background-color: white;
}
.navbar-toggler{
    background-color: white;
}
.white {
    color: white !important;
    font-size: 26px;
}
.offcanvas {
    opacity: 75%;
    border-left: 5px solid rgb(247, 143, 7) !important;
    
}
.nav-link {
    font-size: 22px;
    line-height: 60px;
}
/* end styles nav */
/* start styles slider */
.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-caption h5 {
    color: #20024a;
    font-size: 35px;
}
.carousel-caption p {
    color: #20024a;
    font-size: 20px;
}
/* end styles slider */
/*  start stykes event */
.event {
    padding: 5px;
    height: auto !important;
   
    
}
.event > p {
    text-align: center;
    font-size: 35px;
    text-shadow: 5px 8px 8px red;
    
}
.event .postevent {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
   
    
}
.event .postevent .event27 {
    border-radius: 20px;
    background-color: rgb(190, 185, 185);
    margin: 0 2% 0 1%;
    width: 22%;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 20px;
    box-shadow: 10px 10px rgb(244, 147, 147);
    
}

.event .postevent .event27 h3{
    padding-top: 10px;
    color: #214a02;

}
.event .postevent .event27 img {
    max-width: 100%;
    padding-bottom: 5%;
}
.event .postevent .event27 .cre{
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none !important;
    background-color: rgb(0, 9, 248);
    border-radius: 10px;
    padding: 3% 25%;
   
}
.event .postevent .event27 .cre:hover{
    color: rgb(42, 0, 255);
    background-color: rgb(219, 247, 247);
}
/* end styles event */
/* start styles conferance */
.conference {
    padding: 5px;
    height: auto !important;  
}
.conference > p {
    text-align: center;
    font-size: 35px;
    text-shadow: 5px 8px 8px rgb(46, 42, 154); 
}
.conference .postconf {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap; 
}
.conference .postconf .conf27 {
    border-radius: 20px;
    background-color: rgb(190, 185, 185);
    margin: 0 2% 0 1%;
    width: 22%;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.conference .postconf .conf27 h3{
    padding-top: 10px;
    color: #214a02;
}
.conference .postconf .conf27 img {
    max-width: 100%;
    padding-bottom: 5%;
}
.conference .postconf .conf27 .cre{
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none !important;
    background-color: rgb(0, 9, 248);
    border-radius: 10px;
    padding: 3% 25%;
   
}
.conference .postconf .conf27 .cre:hover{
    color: rgb(42, 0, 255);
    background-color: rgb(219, 247, 247);
}

.row-event {
    border: 2px solid red;
    height: 500px;
}