.team-section_card {
    display: flex;
    width: 302px;
    height: 410px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background: var(--color-quaternary);
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    -ms-border-radius:16px;
    -o-border-radius:16px;
    border: 1px solid var(--color-border-primary);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.team-section_card.active {
    background-color: var(--color-secondary);
    width: 320px;
    height: 440px;
}
.team-section_card.active .team-section_card-socialmedia_container {
    bottom: 16px;
}
.team-section_card.active .team-section_card-header , .team-section_card.active .team-section_card-text {
    color: var(--color-primary);
}
.team-section_card-image-container {
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.team-section_card-image {
    height: 300px;
    width: 270px;
    border-radius: 16px;
    object-fit: cover;
}
.team-section_card-socialmedia_container {
    height: 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: -50px;
    right: 50%;
    transform: translateX(50%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
.team-section_card-socialmedia {
    height: 40px;
    width: 40px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.socialmedia_icon {
    font-size: 20px;
    color: var(--color-primary);
}
.team-section_card:hover  .team-section_card-socialmedia_container {
    bottom: 16px;
    
}
.team-section_card-header {
    color: #000;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 154.545% */
}
.team-section_card-text {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.team-section_card:hover {
    background: var(--color-secondary);
}
.team-section_card:hover > .team-section_card-header , .team-section_card:hover > .team-section_card-text {
    color: var(--color-primary);

}
@media screen and (max-width:600px) {
    .team-section_card {
        background-color: var(--color-secondary);
        width: 320px;
        height: 440px;
    }
     .team-section_card-socialmedia_container {
        bottom: 16px;
    }
     .team-section_card-header , .team-section_card-text {
        color: var(--color-primary);
    }
    
}